@model OnlineLibraryApp.Models.BookCopy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookCopy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.inventory_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.take_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.take_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.return_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.return_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
